<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="CONSOLE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} %1.-1level - %8.8t : %m%n%wEx" />

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

	<logger name="com.tngtech.archunit" level="WARN" />
	<logger name="org.springframework.modulith" level="DEBUG" />

</configuration>
