name: Java CI with Maven

on:
  push:
    branches: [ main, 'hacking/**' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build server
    runs-on: ubuntu-latest

    steps:
    - name: Check out sources
      uses: actions/checkout@v4

    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 22
        cache: 'maven'

    - name: Build with Maven
      run: |
        cd server
        ./mvnw -B verify --file pom.xml

  buildpacks:
    name: Build Image with Buildpacks
    runs-on: ubuntu-latest

    steps:
      - name: Check out sources
        uses: actions/checkout@v4

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 22
          cache: 'maven'

      - name: Build with Maven
        run: |
          cd server
          ./mvnw -Dspring-boot.build-image.publish \
                 -Dspring-boot.build-image.imageName=ttl.sh/restbucks-${GITHUB_WORKFLOW_SHA}:1d \
                 -Pbuildpacks

  buildpacks-native:
    name: Build Native Image with Buildpacks
    runs-on: ubuntu-latest

    steps:
      - name: Check out sources
        uses: actions/checkout@v4

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 22
          cache: 'maven'

      - name: Build with Maven
        run: |
          cd server
          ./mvnw -Dspring-boot.build-image.publish=true \
                 -Dspring-boot.build-image.imageName=ttl.sh/restbucks-native-${GITHUB_WORKFLOW_SHA}:1d
                 -Pbuildpacks-native
